.contact-title {
  font-size: 4em;
  font-weight: 300;
  color: #949494;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  input, textarea {
    border: 1px solid #f5f5f5;
    background-color: #ddd;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    &:focus {
      background-color: #f5f5f5;
      outline: none;
      border-color: #cdc9c9;
    }
  }
  label {
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 5px;
    float: left;
  }
  [type="submit"] {
    width: 120px;
    float: right;
    padding: 15px 20px;
    color: #58C775;
    background-color: #f5f5f5;
    border: 2px solid #58C775;
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 2px;
    transition: all .1s ease-in-out;
    &:hover {
      color: white;
      background-color: #58C775;
    }
  }
}
